<div class="nav nav-tabs" id="nav-tab" role="tablist">
  <button class="hover-bg nav-link active text-black" data-bs-toggle="tab" data-bs-target="#incomplete-tasks" type="button" role="tab" aria-controls="incomplete-tasks" aria-selected="true">Incomplete</button>
  <button class="hover-bg nav-link text-black"  data-bs-toggle="tab" data-bs-target="#completed-tasks" type="button" role="tab" aria-controls="completed-tasks" aria-selected="false">Completed</button>
</div>
<div class="tab-content">
  <%= turbo_stream_from "family_#{family.id}_tasks" %>
  <div class="tab-pane fade show active d-flex justify-content" id="incomplete-tasks">
    <% tasks.each do |task| %>
      <% if task.completed == false %>
        <%= render "tasks/task", task: task %>
      <% end %>
    <% end %>
  </div>
  <div class="tab-pane fade d-flex justify-content" id="completed-tasks">
    <% tasks.each do |task| %>
      <% if task.completed %>
        <%= render "tasks/task", task: task %>
      <% end %>
    <% end %>
  </div>
</div>