<div class="modal fade" id="medicalrecordModal" aria-labelledby="medicalrecordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="medicalrecordModalLabel">Add Medical Record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="m-3">
          <%= render "medical_records/new", medical_record: medical_record, pet: pet %>
        </div>
      </div>
    </div>
  </div>
</div>
