<h2 class='text-center mb-5'>Medical Records</h2>
<div class='container mb-3 d-flex justify-content-center'>
  <% if @pet.medical_records.any? %>
    <div class=" justify-content-center">
      <% @pet.medical_records.each do |medical_record| %>
        <div class="card text-white bg-primary mb-3">
          <div class="card-body">
            <ul class="list-unstyled">
              <li><strong><i class="fa-solid fa-stethoscope"></i></strong> <%= medical_record.diagnosis %></li>
              <li><strong><i class="fa-solid fa-calendar-days"></i></strong> <%= medical_record.visit_date.strftime("%B %d, %Y") %></li>
              <li><strong><i class="fa-solid fa-notes-medical"></i></strong> <%= medical_record.notes %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No medical records available for this pet.</p>
  <% end %>
</div>
