<h2>Select a family to join:</h2>
<% @families.each do |family| %>
  <div class="family">
    <strong><%= family.name %></strong>
    <% if current_user &&  current_user.families.include? == family.id %>
      <%= button_to "Join", families_path(family), method: :post %>
    <% else %>
      <em>You're already in this family</em>
    </div>
  <% end %>
<% end %>
