<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "icons/ms-icon-310x310.png" %>
    <% end %>
  </div>
</div>
