.task-card-hover {
  box-shadow:
    0 0 1px rgba(146, 146, 146, 0.08),
    0 1px 8px rgba(179, 179, 179, 0.08);
  transition: all 0.2s ease-in-out;
}

.task-card-hover:hover {
  transform: translateY(-2px);
  box-shadow:
    0 0 4px rgba(0, 0, 0, 0.1),
    0 4px 12px rgba(0, 0, 0, 0.12); /* Softer hover depth */
}




/* Completed task style */
.task-completed {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

/* No lift when completed */
.task-completed .task-card-hover:hover {
  transform: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}
