.navbar-pawkit {
  justify-content: space-between;
  background: white;
}

.navbar-pawkit .navbar-collapse {
  flex-grow: 0;
}

.navbar-pawkit .navbar-brand img {
  width: 40px;
}


.dropdown-menu {
  position: absolute !important;
  right: 0;
}
