


.fixed-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 48px;    /* smaller size */
  height: 48px;
  border-radius: 50%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-button i {
  font-size: 24px;  /* smaller icon to match */
  color: white;
}



.completed-check {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #ee0808; /* Change checkbox color */
  transition: all 0.3s ease;
}

.completed-check:hover {
  accent-color: #0056b3; /* Darker shade on hover */
  transform: scale(1.1); /* Slight enlargement */
}
