


.fixed-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 48px;    /* smaller size */
  height: 48px;
  border-radius: 50%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-button i {
  font-size: 24px;  /* smaller icon to match */
  color: white;
}



.completed-check {
    border: 1px solid #444444 !important;
    outline: 1px solid #444444;
    width: 1.2em;
    height: 1.2em;

}

.completed-check:hover {
  accent-color: #0056b3; /* Darker shade on hover */
  transform: scale(1.1); /* Slight enlargement */
}

.tag-selector:checked + label {
    background-color: #b3eada !important;
}
