<h1 class="text-center py-4">Nearby Search</h1>
<!-- The search category area -->
<div data-controller="google-maps" class="container">
  <div class="d-flex justify-content-center align-items-center mx-4 mb-4">
    <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
      <input type="checkbox" class="btn-check" id="vet" name="category" value="Vet">
      <label class="btn btn-outline-primary" for="vet">Vets</label>
      <input type="checkbox" class="btn-check" id="petshop" name="category" value="Petshop">
      <label class="btn btn-outline-primary" for="petshop">Petshops</label>
    </div>
    <!-- Search button -->
    <button type="button"
            class="btn btn-success ms-2 btn-sm"
            data-action="google-maps#search">
      <i class="fa-solid fa-search fa-sm"></i>
    </button>
  </div>
  <div class="float-end me-1" style="margin-top: -120px">
    <%= link_to favorites_path(@location) do %>
      <i class="fa-solid fa-star fa-xl"></i>
    <% end %>
  </div>
  <!-- The map area -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-10">
        <div id="map" class="rounded-2" style="height: 550px;"></div>
      </div>
    </div>
  </div>
  <!-- Cards will be inserted here -->
  <div data-google-maps-target="mark" class="mt-4"></div>
</div>
