<h1 class="text-center py-4">Nearby Search</h1>
<div data-controller="google-maps" class="container">
  <div class="d-flex justify-content-center align-items-center mx-4 mb-4">
    <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
      <input type="checkbox" class="btn-check" id="vet" name="category" value="Vet">
      <label class="btn btn-outline-primary" for="vet">Vets</label>
      <input type="checkbox" class="btn-check" id="petshop" name="category" value="Petshop">
      <label class="btn btn-outline-primary" for="petshop">Petshops</label>
    </div>
    <!-- Search button -->
    <button type="button"
            class="btn btn-success ms-2 btn-sm"
            data-action="google-maps#search">
      <i class="fa-solid fa-search fa-sm"></i>
    </button>
  </div>
  <!-- The map -->
  <div id="map" style="width: 400px; height: 600px; border-radius: 15px; margin: 0 auto;"></div>
  <!-- Cards will be inserted here -->
  <div data-google-maps-target="mark" class="mt-4"></div>
</div>
